.banner{
    height: 400px;
    background: url(../assets/images/lap.png);
    background-size: cover;
    text-align: center;
    padding: 150px 0px;
    }

.card-hover{
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

